header {
	height: 70px;
	background-color: #ffffff;
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 1;
	top: 0;
	border-bottom: solid;
	border-bottom-color: #e5e5e5;
	border-bottom-width: 1px;
	text-align: center;
}

.myHeader{
	width: 67%;
	height: 100%;
	display: inline-block;
	text-align: left;
}

body {
	background-color: #fafafa;
}

* {
	font-family: sans-serif;
	font-size: 14px;
}

section {
	text-align: center;
}

.post {
	background-color: #ffffff;
	width: 565px;
	height: 565px;
	display: inline-block;
	position: relative;
	border-style: solid;
	border-radius: 5px;
	border-width: 1px;
	border-color: #dddddd;
	margin-top: 100px;
}

.post_header {
	width: 550px;
	height: 65px;
	display: inline-block;
}

.post .post_header img {
	width: 50px;
	height: 50px;
	display: inline;
}

.post_user {
	text-align: left;
	float: left;
	display: inline-block;
	margin-top: 25px;
	margin-left: 40px;
}

.post_date {
	margin-top: 25px;
	text-align: right;
	float: right;
	display: inline-block;
	margin-right: 20px;
}


header .li {
	
}

header img {
	display: inline-block;
	margin-top: 3px;
}

header .li a {
	text-decoration: none;
}


.middle {
	width: 80%;
	background-color: transparent;
	display: inline-block;
	text-align: center;
}

.post img {
	width: 565px;
}

.description {
	margin-top: 10px;
	position: relative;
}

.likes {

}

.userMiddle {
	text-align: center;
	margin-top: 75px;
	width: 62%;
	display: inline-block;
}

.userHeader {
	height: 180px;
	line-height: 180px;
	padding-left: 50px;
	padding-top: 27px;
}

.userMiddle .userHeader img {
	float: left;
	vertical-align: middle;
	display: inline-block;
	border-radius: 100px;
	width: 150px;
}

.userHeader a {
	float: left;
	font-size: 25px;
	vertical-align: top;
	display: inline-block;
}


.userPosts {
	display: inline-block;

}

.eachUserPost {
	background-color: white;
	width: 250px;
	height: 250px;
	margin-left: 10px;
	margin-right: 10px;
	display: inline-block;
	margin-top: 25px;
	margin-bottom: 25px;
	position: relative;
	vertical-align: middle;
}

.eachUserPost img {
	width: 250px;
}

